<div class="grid place-items-center">
	<div class="card sm:w-96 bg-base-300 shadow-xl m-12">
		<div class="card-body">
			<h2 class="card-title">
				Login
			</h2>
			<form id="login-form" method="post">
				<div class="form-control w-full">
					<label class="label" for="username">
						<span class="label-text">
							What is your username?
						</span>
					</label>
					<input type="text" id="login-username" placeholder="Username"
						class="input form-input input-bordered w-full" />
				</div>
				<div class="form-control w-full">
					<label class="label" for="password">
						<span class="label-text">
							Please input your password
						</span>
					</label>
					<input type="password" id="login-password" placeholder="Password"
						class="input form-input input-bordered w-full" />
				</div>
				<div class="card-actions justify-end">
					<button type="submit" class="btn btn-sm btn-primary mt-6 mb-2">
						Login
					</button>
				</div>
			</form>
			<div class="divider my-0"></div>
			<span class="self-center">
				Don't have an account?
				<a class="underline" href="/signup">
					Sign up!
				</a>
			</span>
		</div>
	</div>
</div>

<script src="/js/login.js"></script>