<div class="grid place-items-center">
	<div class="card sm:w-96 bg-base-300 shadow-xl m-12">
		<div class="card-body">
			<h2 class="card-title">
				Sign Up
			</h2>
			<form id="signup-form">
				<div class="form-control w-full">
					<label class="label" for="username">
						<span class="label-text">
							Choose a username
						</span>
					</label>
					<input type="text" id="signup-username" placeholder="Username"
						class="input form-input input-bordered w-full" />
				</div>
				<div class="form-control w-full">
					<label class="label" for="password">
						<span class="label-text">
							Choose a password
						</span>
					</label>
					<input type="password" id="signup-password" placeholder="Password"
						class="input form-input input-bordered w-full" />
				</div>
				<div class="card-actions justify-end">
					<button type="sumbit" class="btn btn-sm btn-accent mt-6 mb-2">
						Create Account
					</button>
				</div>
			</form>
			<div class="divider my-0"></div>
			<span class="self-center">
				Already have an account?
				<a class="underline" href="/login">
					Log in!
				</a>
			</span>
		</div>
	</div>
</div>

<script src="/js/signup.js"></script>